<!DOCTYPE html>
<html>
    <head>
        <title>Eventos - Rio Sul Valley</title>
        <meta charset="utf-8">
        <meta name="Eventos - Rio Sul Valley">
        <meta name="description" content="Portal de eventos da comunidade Rio Sul Valley.">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Eventos - Rio Sul Valley">
        <meta name="twitter:description" content="Portal de eventos da comunidade Rio Sul Valley.">
        <meta property="twitter:image:src" content="http://riosulvalley.com.br/assets/images/logo-riosulsvalley.png">
        <meta property="og:url" content="http://riosulvalley.com.br/">
        <meta property="og:title" content="Eventos - Rio Sul Valley">
        <meta property="og:image" content="http://riosulvalley.com.br/assets/images/logo-riosulsvalley.png">
        <meta property="og:description" content="Portal de eventos da comunidade Rio Sul Valley.">
        <meta property="og:site_name" content="Eventos - Rio Sul Valley">
        <meta itemprop="name" content="Eventos - Rio Sul Valley"/>
        <meta itemprop="description" content="Portal de eventos da comunidade Rio Sul Valley.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="img/favicon.png" rel="shortcut icon">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div data-js="app"></div>
        
        <% if (data && data.env !== 'production') { %>
            <script src="/static/bundle.js"></script>
        <% } else { %>
            <script src="js/main.min.js"></script>
        <% } %>
    </body>
</html>
